@charset "utf-8";

#MainContent{
	border: solid 1px red;
    margin-left: auto;
    margin-right: auto;    	
}

#MainContent table.ControlEntityTable
{
    
	margin-left:auto;
	margin-right:auto;    
    border: solid yellow 1px;
}